<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="strConnLimsDB" connectionString="data source=aws-mssql-chandan.ct2ww0equk3k.ap-south-1.rds.amazonaws.com,1433;initial catalog=ExProLimsDB;uid=chandanadmin;pwd=expro_1967;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>